/.vs
/.vscode
/1kuji_download.py
/aa.js
/b64encode.py
/BS_Detail.py
/bs_detail_0.xlsx
/bs_detail_0_1.xlsx
/Bs_Image.py
/build_divide_download.py
/build_divide_download.xlsx
/build_divide_download_1.xlsx
/build_divide_new.csv
/convert-or
/convert_png_to_jpg.py
/download_little_red_book.py
/download_mp4.exe
/download_mp4.py
/down_opcg_detail.py
/dtcg_detail.xlsx
/hpoi_base_1.xlsx
/http_cache.sqlite
/magic_detail.xlsx
/magic_detail_download.py
/obj
/ocr.py
/ocr_test.py
/opcg_detail.xlsx
/Pa.pyproj
/Pa.pyproj.user
/Pa.sln
/Pic
/Pic1.jpg
/RBF_detail_download.xlsx
/replace_name_from_csv.py
/sve_detail.py
/test.jpg
/test.py
/test.txt
/test001.py
/test02.py
/test1.py
/test2.py
/test3.py
/test4.py
/test_1.jpg
/TextFile1 - Copy.txt
/TextFile1.txt
/TextFile2.txt
/vividz_detail.xlsx
/wsb_detail.xlsx
/wsb_image_down.py
/ws_data_compute.py
/ws_detail.py
/ws_detail.xlsx
/ws_detail_1.xlsx
/ws_detail_A.xlsx
/ws_detail_A_1.xlsx
/ws_detail_s104.xlsx
/ws_detail_S96.xlsx
/ws_detail_S97.xlsx
/ws_detail_w102.xlsx
/ws_detail_W105.xlsx
/ws_detail_W105T.xlsx
/ws_detail_W106T.xlsx
/ws_detail_W106T_1.xlsx
/ws_detail_w11.xlsx
/ws_detail_w65.xlsx
/ws_detail_WE39.xlsx
/ws_image.py
/ygo_detail
/ygo_detail_convert.py
/ygo_detail_deal
/ygo_detail_deal.xlsx
/ygo_detail_url.xlsx
/ygo_detail_url_1.xlsx
/ygo_package
/zx_detail.xlsx
/一番くじ ウマ娘 プリティーダービー 4弾.xlsx
/影之诗EVOLVE.csv
/批量下载图2.py
/批量下载图片1.py
/批量下载图片3.py
/批量改名.py
/根据url批量下载图.py
/模玩平台商品基础数据库格式.xlsx
/爬取指定内容.py
/爬取指定网页内容.py
*.xlsx
*.log
*.exe